.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.App{
  height: 90vh;
  width: 350px;
  background-color: rgb(44, 44, 44);
  color:black;
}
.container-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  padding: 10px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Avatar{
  border-radius: 50%;
  /* border: 1px solid white; */
}